

/* navbar */
.navbar {
    position: relative;
    z-index: 1;
    color: white;
}

.navbar-brand {
    font-family:  'Noto Sans SC', sans-serif;
    font-size: 30px;
    font-weight: bold 700;
    color: white;
} 

body, html {
    line-height: 36px;
    height: 100%;
}

section {
    height: 100vh;
}

/*jumbotron*/
.jumbotron {
    background-image: url(img/jumbotron.jpg);
    background-size: cover;
    height: 90vh;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.section {
    color: black;
    text-align: center;

    margin-top: 75px;
    font-size: 30px;
}

nav {
    background-image:linear-gradient(#000046, #200e3d);
}

.fitur {
    background-image:linear-gradient(#000046, #231141);
    margin-bottom: 50px;
    /* padding-top: 10px; */
    padding-bottom: 80px;
    height: 100vh;
}

.top30 {
    margin-top: 30px;
}

.top60 {
    margin-top: 60px;
}

.top10 {
    margin-top: 10px;
}

.bottom60 {
    margin-bottom: 60px;
}

.title {
    margin-top: 25vh;
    margin-left: 50vh;
}

.alignright {
    text-align: right;
}

.alignleft {
    text-align: left;
}

h5.tag {
    margin-left: 100px;
}

.fontwhite {
    color: white;
}

.box {
    background-color: teal;
    margin-bottom: 120px;
    margin: auto;
}

.center {
    margin: auto;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
}

/**/

  .box .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(255, 196, 0, 0.63);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .box .btn:hover {
    background-color: rgb(255, 196, 0);
  }

 
 .btn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(255, 196, 0, 0.63);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

 .white {
     color : white
 }

 img {
     width: 20%;
     text-align: center;
 }



   /*-- device mobile --*/
@media screen and (max-width: 640px) {
    .jumbotron {
        margin-top: 0px !important;
        z-index: 0 !important;
        width: 100%;
    }

    .jumbotron h1 {
        text-align: center;
        margin-left: 100px;
        margin-top: 50vh;
        font-family:  'Noto Sans SC', sans-serif;
    }

    .container {
        text-align: center;
    }
     
    .gambar_login {
        margin-right: 50px;
    }

    .kotak_login {
        text-align: center;
        margin-top: 0px;
    }

    }


/*
Button layout satu
*/
.button-satu {
    border-radius: 4px;
    background-color: #3846c7;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 30px;
    margin-right: 0;
    float: right;
}

.button-satu span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-satu span a {
    text-decoration: none;
    color: white;
}

.button-satu span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-satu:hover span {
    padding-right: 25px;
}

.button-satu:hover span:after {
    opacity: 1;
    right: 0;
}

/*
section 3
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #e0f2fe;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
  }
  
  header {
    font-size: 1.2rem;
    margin-bottom: -3rem;
  }
  
  header {
    /* min-height: 20vh; */
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 10px;
  }
  
  button:focus {
    border: none;
  }
  
  .gejala-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 13%;
  }
  
  .gejala-box {
    width: 60%;
    background-color: white;
    margin-top: 20px;
    /* padding: 15px; */
    border-radius: 10px;
  }
  
  .gejala-list {
    min-width: 40%;
    list-style: none;
    /* padding-bottom: 2rem; */
    transition: all 0.5s ease;
  }
  
  .food li {
    flex: 1;
  }
  
  .delete-btn {
    background: #fee2e2;
    color: #ef4444;
    border: none;
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 0.4rem;
    margin-left: 0.4rem;
  }
  
  .edit-btn {
    background: #fee3c7;
    color: #f59e0b;
    border: none;
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 0.4rem;
    margin-left: 0.4rem;
  }
  
  .periksa-btn {
    background: #e0e7ff;
    color: #6366f1;
    border: none;
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 0.4rem;
    margin-left: 0.4rem;
  }
  
  .statistic {
    margin-top: 1.4rem;
    line-height: 2rem;
    width: 60%;
  }
  
  .statistic h2 {
    color: rgb(107, 114, 128);
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-align: left;
  }
  
  .statistic-container {
    margin-top: 1.25rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem;
    width: 100%;
  }
  
  .statistic-box {
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  
  .statistic-box p {
    color: rgb(107, 114, 128);
    font-size: 0.75rem;
    line-height: 2.25rem;
    font-weight: 500;
  }
  
  .statistic-box .number {
    color: rgb(17, 24, 39);
    font-size: 1.8rem;
    line-height: 2.25rem;
    text-align: center;
  }
  
  .gejala-box h2 {
    color: rgb(107, 114, 128);
    line-height: 2.25rem;
    margin: 0.2rem 1rem;
    padding: 0rem 0.5rem;
    font-weight: 500;
    font-size: 1.125rem;
  }
  